root {
    display: block;
}

.root {
    -fx-background-color: #fafcff;
    -fx-font-family: "Verdana";
}

#title {
    -fx-font-size: 25px;
}

#subtitle {
    -fx-font-size: 18px;
}

#welcome-text {
   -fx-font-size: 32px;
   -fx-font-family: "Verdana";
   -fx-fill: #818181;
   -fx-effect: innershadow(one-pass-box, rgba(0, 0, 0, 0.7), 5, 0, 0, 2);
}
#errorText {
  -fx-fill: FIREBRICK;
  -fx-font-weight: bold;
  -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.5), 1, 1, 0, 1);
}

.revert-button {
    -fx-background-image: url("revert-icon.png");
    -fx-background-radius: 5em;
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-background-size: 17 17;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.list-cell:empty {
    visibility:hidden;
}

.table-row-cell:empty {
    -fx-background-color: transparent;
}

.field-error {
   -fx-border-color: red;
   -fx-border-insets: -1px;
   -fx-border-radius: 3px;
}